
@import url('https://fonts.googleapis.com/css?family=Oswald|Petrona|Roboto+Slab');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	 font-family: 'Petrona', serif;
	 font-size: 18px;
	 text-align: center;
	 color: #222222;
	 line-height: 1.2;
}

main {
	max-width: 1200px;
	margin: auto;
}

nav { 
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	 }

#mainimage {
	background:url(../images/hero_image_new.jpg);
	background-size: cover;
	height: 80vh;
	position: relative;
	z-index: -1;
}

header {
	position: absolute;
	width: 100%;
	top: 0;
}

#headericon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30em;
	transform: translate(-50%,-50%);
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	font-weight:normal;
	color: #FFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

a{
	color: #759f84;
	font-size: .7em;
	text-decoration: none;
}


nav a {
	font-family: 'Petrona', serif;
	font-weight:normal;
	color:#e6e7e5;
	font-size: .8em;
	display: inline-block;
	padding: 1.4em;
}

#mobile {
	display:none;
}

nav a:hover {
	background-color: #759f84;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight:normal;
	color:#e6e7e5;
	font-size: .8em;
	letter-spacing: .3em;
	display: block;
	float: left;
	padding: 1.4em;
}

.services{
	width:33.33%;
	float:left;
	padding: 2em;
}

.services img{
	width:100%;
}


h2, h3{
	font-family: 'Oswald', sans-serif;
}

#quote {
	font-weight:normal;
	color:#808285;
	font-size: .7em;
}

footer {
	text-align: center;
	font-size: .5em;
	background-color: #eeeeee;
	padding: 1.2em;
}

#wrapper {
	margin: 0 auto;
}

.clearfix:after {
	display:block;
	content: "";
	clear:both; 
	font-size: 0;
	visibility: hidden;
	height:0;

}

@media only screen and (max-width: 850px) {  
	
	.services{
		padding: 1em;
		}

	.services img{
		width:90%;
		}
}


@media only screen and (max-width: 760px) { 

	h3 {
		display: inline;
		float: none;
		padding: 9em;
		}

	nav { 
		display: block;
		float:none;
		position: relative;
		text-align: center;
		top: 0%;
		transform: translateY(-0%);
	 	}

	nav a {
		padding: .8em;
		}
	

	#mainimage {
		height: 60vh;
		}
	
}


@media only screen and (max-width: 740px) { 

	#headericon {
		position: relative;
		width: 20em;
		transform: translate(-50%,-45%);
		}

	.services{
		width:auto;
		float:none;
		padding: 0;
		}

	.services img{
		width:50%;
		}
}


@media only screen and (max-width: 470px) { 


	nav { 
		position: relative;
		right: 0em;
		top: 0%;
		transform: translateY(0%);
	 	}


	nav a {
		margin:auto;
		background: #222222;
		display: none;
		}

	#mobile {
		display: block;
		background: none;
		}

	#mobile:hover {
		color:#222222;
		}

	nav:hover a{
		display:block;
		}

	h3 {
		display: inline;
		margin:auto;
		padding: 1.4em;
		}

	#headericon img{
		width:40%;
		}

	#headericon {
		position: relative;
		top: 55%;
		left: 50%;
		width: 15em;
		transform: translate(-50%,-50%);
		}

	h1 {
		font-family: 'Roboto Slab', serif;
		font-size: 1.2em;
		font-weight:normal;
		color: #FFF;
		text-shadow: 1px 1px 3px rgba(0,0,0,.25);
		}

	#mainimage {
		background:url(../images/hero_image_new.jpg);
		background-size: cover;
		height: 35vh;
		position: relative;
		z-index: -1;
		}
	
}
