
<style>
@import url('https://fonts.googleapis.com/css?family=Oswald|Petrona|Roboto+Slab');
</style>


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	 font-family: 'Petrona', serif;
	 font-size: 24px;
	 text-align: center;
	 color: #222222;
	 line-height: 2,
}

.heros img{
	width:100%;
}

header{
	background: url(../images/hero_image_2.jpg);
	background-size: cover;
    padding-bottom: 120px;
}

#headericon {
	height:140px;
	margin-top: 10px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	width:15em;
	font-weight:normal;
	color: #FFF;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	
}

a{
	color: #759f84;
	font-size: .7em;
	text-decoration: none;
}

nav {
	background-color: #222222;
	opacity: .5;

}

nav a {
	font-family: 'Petrona', serif;
	font-weight:normal;
	color:#e6e7e5;
	font-size: .7em;
	display: block;
	width:216px;
	float:left;
	padding: 10px 0;
}

nav a:hover {
	background-color: #759f84;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight:normal;
	color:#e6e7e5;
	font-size: .8em;
	text-align: center;
}



p{

	line-height:1.5em;
}

.heros{
	width:15em;
	margin:2em auto;
}

h2, h3{
	font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
}

#quote {
	font-weight:normal;
	color:#808285;
	font-size: .7em;
}

#backtop {
	margin-top: 40px;
}

footer {
	text-align: center;
	font-size: .5em;
	background-color: #eeeeee;
	padding: 20px;
}

#wrapper {
	width: 1080px;
	margin: 0 auto;
}

.clearfix:after {
	display:block;
	content: "";
	clear:both; 

	font-size: 0;
	visibility: hidden;
	height:0;


}